* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: Heebo;
    src: url('fonts/Heebo-Thin.ttf');
    font-weight: 100;
}
@font-face {
    font-family: Heebo;
    src: url('fonts/Heebo-ExtraLight.ttf');
    font-weight: 200;
}
@font-face {
    font-family: Heebo;
    src: url('fonts/Heebo-Light.ttf');
    font-weight: 300;
}
@font-face {
    font-family: Heebo;
    src: url('fonts/Heebo-Regular.ttf');
    font-weight: 400;
}
@font-face {
    font-family: Heebo;
    src: url('fonts/Heebo-Medium.ttf');
    font-weight: 500;
}
@font-face {
    font-family: Heebo;
    src: url('fonts/Heebo-SemiBold.ttf');
    font-weight: 600;
}
@font-face {
    font-family: Heebo;
    src: url('fonts/Heebo-Bold.ttf');
    font-weight: 700;
}
@font-face {
    font-family: Heebo;
    src: url('fonts/Heebo-ExtraBold.ttf');
    font-weight: 800;
}
@font-face {
    font-family: Heebo;
    src: url('fonts/Heebo-Black.ttf');
    font-weight: 900;
}

body {
    font-family: Heebo, 'Times New Roman', Times, serif;
}

/* .header */

.header {
    padding: 28px 60px;
}

.header__link {
    color: black;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
}

.header__link:hover {
    color: #e20101;
}

.header__link--active {
    color: #FF6464;
}

.header__list {
    list-style: none;
    display: flex;
    gap: 32px;
}

.header__nav {
    display: flex;
    justify-content: end;
}

@media screen and (max-width: 600px) {
    .header {
        padding: 14px 30px;
    }

    .header__list {
        flex-direction: column;
        align-items: center;
        gap: 16px;
    }

    .header__nav {
        justify-content: center;
    }
}

/* .header */

/* .first */

.first {
    padding-top: 127px;
    padding-bottom: 68px;
}

.first__container {
    width: calc(100% - 60px * 2);
    max-width: 856px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.first__description {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: start;
    max-width: 500px;
}

.first__title {
    font-size: 44px;
    font-weight: bold;
    line-height: 120%;
    color: #21243D;
}

.first__text {
    color: #21243D;
}

.first__img {
    width: 243px;
    height: 243px;
    border-radius: 50%;
    box-shadow: -5px 13px 0 #EDF7FA;
}

@media screen and (max-width: 840px) {
    .first {
        padding-top: 100px;
        padding-bottom: 60px;
    }

    .first__title {
        font-size: 36px;
    }

    .first__img {
        width: 200px;
        height: 200px;
    }

    .first__description {
        gap: 24px;
    }
}

@media screen and (max-width: 720px) {
    .first {
        padding-top: 60px;
        padding-bottom: 40px;
    }

    .first__title {
        font-size: 28px;
    }

    .first__img {
        width: 160px;
        height: 160px;
    }

    .first__description {
        gap: 18px;
    }
}

@media screen and (max-width: 600px) {
    .first {
        padding-top: 40px;
        padding-bottom: 30px;
    }

    .first__container {
        width: calc(100% - 30px * 2);
        flex-direction: column-reverse;
        align-items: center;
    }

    .first__description {
        align-items: center;
    }

    .first__text, .first__title {
        text-align: center;
    }
}

/* .first */

/* .button */

.button {
    font-weight: 500;
    font-size: 20px;
    text-decoration: none;
    border-radius: 2px;
    background-color: #FF6464;
    color: #fff;
    padding: 9px 20px;
   
}

/* .button */

/*works*/
.works {
    padding: 28px 0 82px 0;
}
.works__container {
    width: calc(100% - 60px * 2);
    max-width: 856px;
    margin: 0 auto;
}

.works__item{
    display: flex;
    gap: 18px;
    margin-bottom: 32px;
    border-bottom: 2px solid #E0E0E0;
    padding-bottom: 32px;
}
.works__info {
    
    display: flex;
    gap:26px;
    margin-bottom: 22px;
  
}

.works__title{
    margin-bottom: 36px;
   font-size: 22px;
   font-weight: 400;
   color: #21243D;
}

.works__caption {
   margin-bottom: 16px;
    color: #21243D;
    font-size: 30px;
    font-weight: 700;
}


.works__year, .works__label {
   
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 900;
    color: #fff;
   
}
.works__year {
    padding-inline: 10px; 
    border-radius: 16px;
    background-color: #21243D;
    padding-top: 2px;
}

.works__label {
    position: absolute;
    top: 7px;
    left: 6px;
    padding-inline: 10px; 
    border-radius: 16px;
    background-color: #FF6464;
    padding-top: 2px;
}

.works__image {
 position: relative;
}

.works__img {
    border-radius: 6px;
    width: 246px;
    height: 180px;
    object-fit: cover;
    display: block;
}

.works__category{
    font-size: 20px;
    font-weight: 400;
    color: #8695A4;
}

@media screen and (max-width: 600px) {
    .works__container {
        width: calc(100% - 30px * 2); 
    }

    .works__item{
        flex-direction: column;
    }

    .works__img{
        width: 100%;
    }
}

@media screen and (max-width: 720px) {
    .works__img{
        width: 200px ;
        height: 150px ;
    }

    .works__caption{
        font-size: 24px;
    }
}
/*works*/


/*posts*/
.posts {
    padding: 32px;
    background-color: #EDF7FA;
}

.posts__container{
    width: calc(100% - 60px * 2);
    max-width: 856px;
    margin: 0 auto;
}

.posts__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
}

.posts__header h2 {
    font-size: 22px;
    font-weight: 400;
}

.posts__link {
    text-decoration: none;
    color: #00A8CC ;
    font-size: 400;
    font-weight: 16px;

}
.posts__link:hover {
    color: #0585a1;
}

.posts__card {  
    background-color: #fff;
    border-radius: 4px;
    padding: 24px;
    
}

.posts__list{
    display: flex;
    gap: 20px;

}

.posts__data {
    font-size: 18px;
    font-weight: 400;
    display: flex;     
    gap: 28px; 
    margin-top: 24px;
    margin-bottom: 20px;
    
}

.posts__card p {
    font-size: 16px;
    font-weight: 400;
}


/*posts*/