
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}


.header {
    padding: 28px 60px;
    background-color: lightgray;
}


.header-nav {
    display: flex;
    justify-content: end;
}

.header-links {
    color: black;
    text-decoration: none;
}


.header-list {
    list-style: none;;
    display: flex;
    gap: 32px;
   
}

.header-list li a {
    font-size: medium;
    padding: 20px;
    background-color: aquamarine;
}